main{
    background-image: url('pokeball-vector-22.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
}

.pokeImg>img{
    width: 100px;
    height: 100px;
}

.Pokename{
    color: rgb(200, 189, 189);
}

.Pokename2{
    color: rgb(51, 183, 235);
    font-size: 15px;
}

button{
    margin-top: 30px;
}

footer{
    height: 50px;
    text-align: center;
}
    
#By{
    padding-top: 15px;
}